include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.md

recursive-exclude docs *
recursive-exclude tests *
recursive-exclude * *.py[co]
recursive-exclude * __pycache__

include spikex/pipes/sents/nbmodel.gz