[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
alabaster = "*"
autoflake = "*"
black = "*"
bump2version = "*"
coverage = "*"
invoke = "*"
isort = "*"
mock = "*"
py-spy = "*"
pylint = "*"
pytest = "*"
pytest-benchmark = "*"
sphinx = "*"
vulture = "*"
wheel = "*"
yapf = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz"}
pytest-profiling = "*"

[packages]
jsonschema = "*"
regex = "*"
typer = "*"
wasabi = "*"
spacy = ">=2.2.2,<3.0"
ftfy = "*"
smart-open = "*"
cyac = "*"
cython = "*"
streamlit = "*"
yarl = "*"
python-igraph = "*"

[pipenv]
allow_prereleases = true
