[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
alabaster = "*"
autoflake = "*"
bump2version = "*"
coverage = "*"
invoke = "*"
isort = "*"
mock = "*"
py-spy = "*"
pylint = "*"
pytest = "*"
pytest-benchmark = "*"
Sphinx = "*"
vulture = "*"
wheel = "*"
yapf = "*"
pytest-profiling = "*"
profilehooks = "*"
memory-profiler = "*"

[packages]
jsonschema = "*"
regex = "*"
typer = "*"
wasabi = "*"
spacy = ">=2.2.2,<3.0"
ftfy = "*"
smart-open = "*"
cyac = "*"
streamlit = "*"
yarl = "*"
python-igraph = "*"
Cython = "*"

[pipenv]
allow_prereleases = true

[dev-packages.en-core-web-sm]
file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz"

[dev-packages.it-core-news-sm]
file = "https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-2.3.0/it_core_news_sm-2.3.0.tar.gz"

[packages.simplewiki-core]
path = "./graph_data/simplewiki-core-package/simplewiki_core-0.2.2-dev1/dist/simplewiki_core-20200820.tar.gz"

[packages.4e19f51]
path = "./graph_data/simplewiki-core-package/simplewiki_core-0.2.2-dev1/dist/simplewiki_core-20200820.tar.gz"

[packages.7fdf1da]
path = "./graph_data/enwiki-core-package/enwiki_core-0.2.2-dev1/dist/enwiki_core-20200701.tar.gz"

[packages.ffbecc7]
path = "./graph_data/itwiki-core-package/itwiki_core-0.2.2-dev1/dist/itwiki_core-20200720.tar.gz"

[packages.d20dddb]
path = "./."
