alabaster
autoflake
black
bump2version
coverage
flake8
invoke
isort
memory-profiler
mock
py-spy
pylint
pytest
pytest-benchmark
pytest-profiling
sphinx
vulture
wheel
yapf
# en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
